* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.rainbow {
  height: 250px;
  overflow: hidden;
}

.rainbow div {
  padding: 1px;
  border-radius: 50%;
}

.rainbow > div {
  width: 500px;
  height: 500px;
  background-color: hsl(0, 80%, 50%);
}

.rainbow div div {
  margin: 10px;
}

.rainbow > div > div {
  height: 480px;
  background-color: hsl(60, 80%, 50%);
}

.rainbow > div > div > div {
  height: 460px;
  background-color: hsl(120, 80%, 50%);
}

.rainbow > div > div > div > div {
  height: 440px;
  background-color: hsl(180, 80%, 50%);
}

.rainbow > div > div > div > div > div {
  height: 420px;
  background-color: hsl(240, 80%, 50%);
}

.rainbow > div > div > div > div > div > div {
  height: 400px;
  background-color: hsl(300, 80%, 50%);
}

.rainbow > div > div > div > div > div > div > div {
  height: 380px;
  background-color: hsl(330, 80%, 50%);
}

.rainbow > div > div > div > div > div > div > div > div {
  height: 360px;
  background-color: white;
}
